<div class="card text-white bg-info mb-3">
  <div class="card-header"><%= @user.name %></div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text"><%= @user.steam_id %></p>
  </div>
</div>