<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag("gm.png", width: 30, height: 30, class: "d-inline-block align-top") %>
      GMStatistics
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Ranking', users_path, class: 'nav-item nav-link' %>
        <a class="nav-item nav-link" href="#">Item2</a>
      </div>
    </div>
  </div>
</nav>
